<!doctype html>
{% load django_vite %}
<html lang="en">
  <head>
    {% vite_hmr_client %}
    <!--{% vite_asset './static/dist' %}-->
    {% vite_asset 'js/main.js' %}
    <meta charset="UTF-8" />
    <!--<link rel="icon" type="image/svg+xml" href="/vite.svg" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + Vue</title>
  </head>
  <body>
    {% block content %}{% endblock %}
    <!--<script type="module" src='/static/src/js/main.js'></script>-->
  </body>
</html>
